.accordion-info {
  margin-top: 30px;

  .info-wrap {
    background-color: $maincolor;
    padding: 35px;
  }

  .list-nav {
    text-align: center;
    background-color: $maincolor;
    min-height: 68px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      li {
        margin-right: 50px;
        display: inline-block;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}