.side-bar {
  max-width: 290px;
  width: 100%;
  background-color: $maincolor;


  &__logo {
    max-width: 130px;
    width: 100%;
    margin: 15px auto 2px;
a{
  display: block;
}
    img {
      width: 100%;
    }
  }
  .bar-section{
    background-color: #1b245b;
    padding: 14px 14px 14px 30px;
  }

  &__user-info-section {
    * {
      font-size: 17px;
      color: $wc;
      font-weight: 600;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}