*, :after, :before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    flex: 1 0 auto;
  }
}

// flex footer end

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  @include lg {
    font-size: 22px;
  }
  @include md {
    font-size: 20px;
  }
  @include sm {
    font-size: 18px;
  }
  @include xs {
    font-size: 17px;
  }
}

p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: $maincolor;
  @include lg {
    font-size: 17px;
  }
  @include md {
    font-size: 16px;
  }
}

//title
.title-wrap {
  text-align: center;
  margin-bottom: 40px;
  @include lg {
    margin-bottom: 35px;
  }
  @include md {
    margin-bottom: 30px;
  }
  @include sm {
    margin-bottom: 25px;
  }
  @include xs {
    margin-bottom: 20px;
  }

  .title {
    color: $maincolor;
  }

  p {
    font-size: 24px;
    line-height: 36px;
    color: $bc;
    @include lg {
      font-size: 22px;
      line-height: 34px;
    }
    @include md {
      font-size: 20px;
      line-height: 32px;
    }
    @include sm {
      font-size: 18px;
      line-height: 30px;
    }
    @include xs {
      font-size: 17px;
      line-height: 29px;
    }
  }
}

//title end

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  @include lg {
    max-width: 960px;
  }
  @include md {
    max-width: 720px;
  }
  @include sm {
    max-width: 540px;
  }
  @include xs {
    max-width: 460px;
  }
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;

    a {
      transition: $transition;
      text-decoration: none;
    }
  }
}

//btn
.btn {
  text-transform: uppercase;
  color: $maincolor;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $secondarycolor;
  transition: all .5s;
  line-height: normal;
  background-color: transparent;

  &:hover {
    color: $wc;

    &:after {
      bottom: 100%;
      transform: scale(0);
    }
  }

  &:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $secondarycolor;
    bottom: 100%;
    left: 100%;
    transform: scale(50);
    transition: all .5s;
    z-index: -1;
  }

  &--other-btn {
    background-color: transparent;
    color: $wc;
    padding: 7px 10px;


    &:after {
      transform: scale(0);
      top: 100%;
      left: 100%;
    }

    &:hover {
      &:after {
        transform: scale(50);
      }
    }
  }

  &--other-kind-btn {
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    border-radius: 20px;
    font-size: 24px;
    max-width: 100%;
    width: 100%;
    outline: none;
    cursor: pointer;
    margin-top: 20px;

    &:after {
      width: 20px;
    }

    &:hover {
      color: $maincolor;
    }
  }

  &--light-bg {
    font-weight: 700;

    &:hover {
      color: $maincolor;
    }
  }

  &--activation {
    max-width: 340px;
    width: 100%;
    min-height: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      transform: scale(100);
    }

    .form-group {
      max-width: 340px;
      width: 100%;
      min-height: 60px;

      input {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//btn end


//scroll
.mobileBody-scroll {
  overflow: hidden;
  position: relative;
  height: 100%;
}

//scroll end


//social
.social {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      width: 35px;
      height: 35px;

      &:hover {
        a {
          //background-color: $maincolor;
          animation: pulse-shadow 1s ease;
        }
      }

      a {
        border-radius: 100%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: $transition;
        text-decoration: none;
        @keyframes pulse-shadow {
          0% {
            box-shadow: 0 0;

          }

          70% {
            box-shadow: 0 0 3px 50px transparent;
          }

          100% {
            box-shadow: 0 0 0 0 transparent;
          }
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

//social end