.caption {
  min-height: 180px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  &__title {
    text-transform: uppercase;
    color: $wc;
    text-align: center;
    font-weight: 600;
    line-height: 36px;
    font-size: 24px;
    span {
      display: block;
      color: $secondarycolor;
      line-height: normal;
      small {
        text-transform: lowercase;
      }
    }
  }
}