.counter {
  padding: 50px 0;
  @include md {
    padding: 40px 0;
  }
  @include sm {
    padding: 30px 0;
  }
  @include xs {
    padding: 25px 0;
  }


  &__chart {
    position: relative;
    max-width: 260px;
    width: 100%;
    @include md {
      max-width: 200px;
    }
    @include sm {
      max-width: 150px;
    }
  }

  &__chart-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include xs {
      justify-content: space-around;
    }

    .count {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 48px;
      font-weight: 800;
      color: $maincolor;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      height: 50%;
      @include md {
        font-size: 35px;
      }
      @include sm {
        font-size: 20px;
      }
      @include xs {
        font-size: 15px;
        font-weight: 600;
      }

      &__status {
        font-size: 24px;
        @include md {
          font-size: 20px;
        }
        @include sm {
          font-size: 14px;
        }
        @include xs {
          font-size: 10px;
        }
      }
    }
  }

  &__chart-item {
    max-width: 44%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid $auxiliary;
    min-height: 300px;
    @include md {
      max-width: 50%;
      min-height: 250px;
    }
    @include sm {
      min-height: 170px;
    }
    @include xs {
      min-height: auto;
      max-width: 40%;
      border: none;
    }

    &:last-child {
      border-right: 0;
    }
  }
}


