.detailed {
  .title {
    color: $maincolor;
    margin-bottom: 30px;
    @include lg {
      margin-bottom: 25px;
    }
    @include md {
      margin-bottom: 15px;
    }

  }


  .list {
    margin-bottom: 70px;

    &__wrap {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__item {
      min-height: 170px;
      max-width: calc(33.33% - 10px);
      background-color: $wc;
      box-shadow: 0 0 30px 0 rgba(77, 77, 77, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 15px;
      @include md {
        padding-bottom: 30px;
        min-height: auto;
      }
      @include sm {
        line-height: 20px;
        max-width: 330px;
        min-height: 150px;
      }

      p {
        color: #6c6b6b;
        font-weight: 500;
        line-height: 24px;
        @include lg {
          font-size: 15px;
        }
        @include md {
          line-height: 20px;
        }
      }

      &:hover {
        @include md {
          transform: translateY(0);
        }
      }
    }

    &__icon {
      margin-bottom: 18px;

      i {
        font-size: 40px;
        color: $auxiliary;

        &:before {
          margin: 0;
        }
      }
    }
  }
}