.faq {
  .accordion__title {
    padding-right: 40px;
  }

  .faq-section {
    background-color: #1b245b;
    padding: 14px 14px 14px 5px;
  }

  .accordion__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3, p {
    font-family: 'Montserrat';
    font-weight: 500 !important;
    font-size: 18px !important;
    @include md {
      font-size: 16px !important;
    }
    @include sm {
      font-size: 15px !important;
    }
    @include xs {
      font-size: 14px !important;
      font-weight: 400!important;
    }
  }

  p {
    color: $wc;
  }
}
