.footer {
  flex: 0 0 auto;
  padding: 40px 0;
  min-height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  @include sm {
    padding: 30px 0;
  }
  @include xs {
    padding: 25px 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    @include sm {
      flex-direction: column;
      justify-content: center;
    }
  }

  a {
    color: $wc;
    transition: $transition;
    display: block;
    text-align: center;
    @include sm{
      text-decoration: underline;
    }
    &:hover {
      color: $secondarycolor;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include sm {
      margin-bottom: 15px;
      &:nth-of-type(1) {
        order: 2;
      }
      &:nth-of-type(2) {
        order: 1;
        margin: 0;
      }
      &:nth-of-type(3) {
        order: 3;
      }
    }
    @include sm {

    }

    p {
      color: $wc;
      font-weight: 400;
    }
    .fa-envelope {
      margin-right: 10px;
    }
  }

  &__logo {
    max-width: 145px;

    img {
      max-width: 100%;
    }
  }
}