.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  label {
    color: #878787;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      opacity: 0;
    }
  }


  .form-control {
    border: 1px solid #bababa;
    border-radius: 3px;
    height: 35px;
    padding: 0 10px;
    outline: none;
    font-size: 14px;
    max-width: 290px;
    width: 100%;

    &[type="password"] {
      font-size: 16px;
      font-weight: 900;
    }
  }
}

.agree {
  display: flex;
  align-items: center;
  justify-content: flex-start;


  label {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      content: '';
      cursor: pointer;
    }

    &:before {
      z-index: 1;
      width: 15px;
      height: 7px;
      border: 2px solid $auxiliary;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      left: 3px;
      top: 4.5px;
      opacity: 0;
    }

    &:after {
      border: 1px solid #bababa;
      transition: $transition;
      width: 20px;
      height: 20px;
      left: 0;
    }
  }

  input {
    opacity: 0;
    position: absolute;

    &:checked + label:before {
      opacity: 1;
    }
  }
}

.iti__flag {
  background-image: url("../assets/img/flags/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../assets/img/flags/flags@2x.png");
  }
}

.iti .iti--allow-dropdown {
  width: 100%;
  max-width: 100%;
}


.form {
  &-monetary-form {
    display: inline-block;
    padding-bottom: 25px;
    position: relative;
  }

  &-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  &-group-wrap {
    display: flex;
    flex-direction: row;
    max-width: 280px;
    width: 100%;
    justify-content: center;
    position: relative;

    input, .select {
      height: 60px;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      color: #777777;
      width: 100%;
      background-color: $wc;
      position: relative;
      align-items: center;
      display: flex;
    }

    input {
      padding: 0 25px;
    }
  }

  &-add-info {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    p {
      color: $wc;
      white-space: nowrap;
      font-weight: 700;
    }
  }

  .select {
    cursor: pointer;
    z-index: 9;
    padding-right: 50px;

    &:before {
      position: absolute;
      content: "\f107";
      font-family: "Font Awesome 5 Pro";
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #090909;
    }

    &_checked {
      padding-left: 25px;
    }

    &__dropdown {
      position: absolute;
      top: 60px;
      display: none;
      width: 100%;
      background-color: $wc;
      padding-left: 25px;
      padding-bottom: 10px;
      padding-right: 10px;
      text-align: left;
      box-shadow: 0 0 20px 5px rgba($wc, .3);
    }

    &__option {
      transition: $transition;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: #00b7f4;
      }
    }
  }
}

//dialog-box
.dialog-box {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  span {
    font-weight: 600;
    position: relative;
    padding-left: 20px;

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Font Awesome 5 Pro";
    }
  }

  &__error {
    color: #ff0012;

    &:before {
      content: "\f00d";
    }
  }

  &__successfully {
    color: #30ff00;

    &:before {
      content: "\f00c";
    }
  }
  .form-add-info{
    margin-left: 0;
  }
}

//dialog-box end
