.gallery {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 33.33%;
    margin: -4px 0;

    &:nth-child(2n) {
      a {
        &:hover {
          img {
            transform: rotate(-4deg) scale(1.2);
          }
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      height: calc(100% - 7px);

      img {
        transition: all .5s;
      }

      &:hover {
        &:before, &:after {
          opacity: 1;
        }
        &:after {
          transform: scale(1.3);
        }

        img {
          transform: rotate(4deg) scale(1.2);
        }
      }


      &:before, &:after {
        position: absolute;
        opacity: 0;
        transition: $transition;
        z-index: 1;
      }

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba($bc, 0.6);
      }

      &:after {
        content: '\f002';
        font-family: "Font Awesome 5 Pro";
        color: $wc;
        font-size: 20px;
        transform: scale(3);
      }
    }

    img {
      width: 100%;
    }
  }
}