.content-side {
  width: 100%;
  max-width: 100%;
}

.shaded-bg {
  position: relative;
  transition: all 1s;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($bc, 0.4);
    z-index: 999;
  }
}