.table {
  margin-top: 30px;
  margin-bottom: 50px;
  @include lg {
    margin-bottom: 40px;
  }
  @include md {
    margin-bottom: 30px;
  }
  @include sm {
    margin-bottom: 25px;
  }

  table {
    width: 100%;

    th, td {
      background-color: $maincolor;
      color: $wc;
      text-align: center;
      padding: 7px 10px;
      font-weight: 500;
      font-size: 16px;
      @include lg {
        font-size: 13px;
      }
      @include md {
        font-size: 12px;
        font-weight: 400;
        padding: 5px;
      }
      @include sm {
        font-size: 10px;
        padding: 5px;
      }
      @include xs {
        font-size: 7px;
        padding: 5px;
      }

    }
  }

  &-history {

    table {
      border-collapse: collapse;

      th, td {
        border-bottom: 1px solid $wc;
        padding: 20px 0;
        font-weight: 500;
        font-size: 17px;
        @include lg {
          font-size: 13px;
        }
        @include md {
          font-size: 12px;
          font-weight: 400;
          padding: 15px 0;
        }
        @include sm {
          font-size: 10px;
          padding: 10px 0;
        }
        @include xs {
          font-size: 7px;
          padding: 5px 0;
        }
      }
    }
  }

}

.status-info {
  .title-wrap {
    margin-bottom: 30px;
  }

  &__desc {
    padding-bottom: 45px;

    p {
      color: $bc;
    }
  }
}

.history {
  max-width: 900px;
  width: 100%;

  &__financial-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include lg {
      flex-wrap: wrap;
    }
    @media (max-width: 700.98px) {
      flex-direction: column;
    }

    h2 {
      color: $wc;
      @media (max-width: 1599.98px) {
        font-size: 20px;
      }
      @include lg {
        flex-basis: 100%;
      }
    }

    span {
      color: $bc;
      font-size: 18px;
      font-weight: 700;
      max-width: 280px;
      width: 100%;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: $secondarycolor;
      @media (max-width: 1599.98px) {
        font-size: 15px;
        max-width: 250px;
      }
      @include lg {
        flex-basis: 50%;
        margin-top: 20px;
      }
    }
  }

  &-position {
    display: none;
  }
}

