.programm {
  @include md {
    padding-top: 40px;
  }
  @include md {
    padding-top: 35px;
  }
  @include sm {
    padding-top: 30px;
  }
  @include xs {
    padding-top: 25px;
  }


}

.list {
  margin-bottom: 40px;
  @include lg {
    margin-bottom: 35px;
  }
  @include md {
    margin-bottom: 30px;
  }
  @include sm {
    margin-bottom: 25px;
  }
  @include xs {
    margin-bottom: 20px;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      margin-bottom: 0;
    }
    @include sm {
      margin-bottom: 20px;
    }
    &:hover {
      .list__item {
        transform: translateY(-15px);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
        @include sm {
          transform: translateY(0);
        }
      }
    }
  }

  &__item {
    border-radius: 10px;
    background-color: $maincolor;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    max-width: 360px;
    width: 100%;
    min-height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    position: relative;
    @include md {
      max-width: 330px;
      min-height: 110px;
    }

    @include sm {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      color: $wc;
      font-size: 18px;
      font-weight: 700;
      @include lg {
        font-size: 17px;
      }
      @include md {
        font-size: 16px;
      }

      span {
        margin-right: 30px;
        @include lg {
          margin-right: 20px;
        }
        @include md {
          margin-right: 15px;
        }
      }
    }

  }
}

