.profile-edit {
  .form-group-wrap {
    max-width: 650px;

    .btn {
      min-height: 60px;
      max-width: 420px;
      width: 100%;
    }
  }
}

.pin-edit {
  display: flex;
  flex-direction: row;

  &__item {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      line-height: 17px;
    }
    &:first-child {
      margin-right: 30px;
      p {
        color: $secondarycolor;
        text-align: center;
        margin-bottom: 40px;
      }
    }

    &:last-child {
      align-items: flex-start;

      p {
        color: $wc;
        margin-bottom: 10px;
      }
    }
  }
}