.profile {

  &__wrap {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    .hamburger {
      right: 50px;
      @include lg {
        display: block;
      }
    }
  }

  .pr {
    &-wrap {
      padding: 30px 50px 20px 30px;
    }
  }
}