.pyramid {
  &-profile-jewel {

    .pyramid__user-wrap {
      padding-bottom: 10px;


      &--main-user {
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: 2px;
          height: 50px;
          top: 100%;
          background-color: $wc;
        }

        .pyramid__user-email {
          color: $secondarycolor;
        }
      }
    }

    .pyramid__user--main-user {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      border: 3px solid $secondarycolor;


    }

    .pyramid__user {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin-bottom: 10px !important;

      i {
        color: $wc;
        background-color: transparent;
        z-index: 1;
        position: relative;
        font-size: 50px;
      }

      &:before, &:after {
        display: none;
      }
    }

    .pyramid__user-email {
      font-size: 14px;
      color: $wc;
      text-transform: uppercase;
    }
  }
}


.pyramid-profile-jewel ul li ul li ul {

  .pyramid__user-wrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;

    &:before, &:after {
      position: absolute;
      content: '';
      background-color: $wc;
    }

    &:before {
      height: 2px;
      width: 100%;
      transform: translateY(-50%);
      top: 33%;
    }

    &:after {
      height: 35px;
      width: 2px;
      top: 38%;
      top: 100%;
    }

  }

  li {
    .pyramid__user {
      border: 3px solid $wc;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $maincolor;

      &:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 50%;
        background-color: #000;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }


    ul {
      li {

        .pyramid__user-wrap {
          i{
            font-size: 25px;
          }
          &:before {
            width: 100% !important;
            top: 24%;
          }

          &:after {
            display: none;
          }

          .pyramid__user-email {
            min-height: 50px;
          }
        }

        .pyramid__user-email {
          font-size: 8px;
          color: $wc;
          text-transform: uppercase;
        }

        .pyramid__user {
          width: 60px;
          height: 60px;
        }


        &:first-child {

          .pyramid__user-wrap {
            &:before {
              width: 37px !important;
              right: 0;
            }
          }
        }

        &:last-child {

          .pyramid__user-wrap {
            &:before {
              width: 37px !important;
              left: 0;
            }
          }
        }

      }
    }

    &:first-child {
      .pyramid__user-wrap {

        &:before {
          width: 37%;
          right: 0;
        }
      }
    }

    &:last-child {
      .pyramid__user-wrap {
        &:before {
          width: 37%;
          left: 0;
        }
      }

      ul {
        li {
          &:first-child {
            .pyramid__user-wrap {
              &:before {
                width: 37% !important;
                right: 0;
                left: auto;
              }
            }
          }
        }
      }
    }
  }
}