.profile {

  &__wrap {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;

    .hamburger {
      position: fixed;
      right: 50px;
      top: 38px;
      z-index: 11;
      @include md {
        display: block;
      }
      @include md {
        right: 15px;
        top: 23px;
      }
    }
  }

  .pr {
    &-wrap {
      padding: 30px 50px 20px 30px;
      @include lg {
        padding-right: 30px;
      }
      @include md {
        padding: 15px;
      }
    }
  }
}