.header {
  &--pr-header {
    background-color: $maincolor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border: none;
    padding-right: 50px;
    @include lg {
      padding-right: 30px;
    }
    @include md {
      display: none;
    }

    .nav {
      padding-right: 0;

      a {
        @media (max-width: 1499.98px) {
          font-size: 13px;
          padding: 0 10px;
        }
      }
    }
  }
}

.pr {
  &-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    @include md {
      margin-bottom: 15px;
    }

    a {
      display: block;
    }
  }

  &-avatar-choose {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  &-avatar {
    width: 38px;
    height: 38px;
    background-color: $wc;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;

    input {
      display: none;
      z-index: -1;
    }
  }

  &-img {
    width: 80%;
  }

  &-user-name {
    color: $wc;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Myriad Pro';
  }

  &-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}


.profile-menu {
  padding: 20px 0;

  .header--pr-header {
    @include lg {
      display: block;
      padding-right: 0;
    }
  }

  .pr-navbar {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nav {
      padding: 0;
      width: 100%;

      ul {
        flex-direction: column;

        li {
          width: 100%;

          a {
            align-items: center;
            justify-content: center;
            min-height: 50px;
            @media (max-width: 767.98px) {
              padding: 10px 0;
              min-height: auto;
            }
          }
        }
      }
    }
  }

  .nav:nth-of-type(1) {
    order: 2;
  }
}