.pyramid {
  &__vip {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;

    @include lg {
      align-items: center;
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;


    @include xs {
      position: relative;
      flex-direction: column;
    }

  }

  &__desc-item {
    max-width: 225px;
    width: 100%;
    min-height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: $bc;
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
    border-radius: 40px;

    @media (max-width: 1599.98px) {
      font-size: 20px;
    }

    &--name {
      background-color: $auxiliary;

      @include xs {
        margin-bottom: 20px;
      }
    }

    &--contribution {
      background-color: $secondarycolor;
    }
  }

  &__vip-list {
    text-align: left;

    ol {
      text-align: left;
      display: inline-block;
      padding-left: 30px;

      li {
        color: $wc;
        transition: $transition;
        margin-bottom: 10px;
        font-weight: 600;

        &:hover {
          color: $secondarycolor;
          cursor: pointer;

          a {
            color: $secondarycolor;
          }
        }

        a {
          transition: $transition;
          color: $wc;
          font-weight: 600;
        }
      }

      .active {
        color: $secondarycolor;

        a {
          color: $secondarycolor;
        }
      }
    }
  }

  &__vip-total-list {
    p {
      color: $wc;
    }
  }

  &__vip-list-pagination {
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: inline-block;
        color: $wc;


        a {
          transition: $transition;

          &:hover {
            color: $secondarycolor;
          }

          i {
            font-size: 30px;
          }

          color: $wc;
        }
      }

      .active {
        a {
          pointer-events: none;
          color: $secondarycolor;
        }
      }
    }
  }

  &__participant-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__participant {
    border-radius: 100%;
    border: 3px solid $wc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: $maincolor;
    position: relative;
    z-index: 1;
    @media (max-width: 1629.98px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 1279.98px) {
      width: 70px;
      height: 70px;
    }

    &--main {
      border-color: $secondarycolor;
    }

    i {
      color: $wc;
      font-size: 50px;
      @media (max-width: 1629.98px) {
        font-size: 40px;
      }
      @media (max-width: 1279.98px) {
        font-size: 35px;
      }
    }
  }


  &__first-level {
    position: relative;
    padding-bottom: 10px;

    &:before {
      position: absolute;
      content: '';
      height: 50%;
      width: 3px;
      background-color: $wc;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__participant-email {
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    a {
      color: $wc;
      font-size: 14px;
      text-transform: uppercase;
      transition: $transition;

      &:hover {
        color: $secondarycolor !important;
      }
    }

    &--main {
      color: $secondarycolor;
    }
  }

  &__second-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 70%;
      top: 50px;
      height: 3px;
      background-color: $wc;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      @media (max-width: 1629.98px) {
        top: 40px;
      }
    }

    .pyramid__participant-item {
      //padding: 0 15px;
    }
  }

  &__third-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 335px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    padding: 0 15px;

    &:before {
      height: 3px;
      width: 80%;
      background-color: $wc;
      left: 50%;
      top: 35px;
      transform: translateX(-50%);
      @media (max-width: 1629.98px) {
        top: 25px;
      }
      @media (max-width: 1279.98px) {
        top: 20px;
      }
    }

    &:after {
      height: 30%;
      width: 3px;
      background-color: $wc;
      left: 50%;
      bottom: 100%;
      transform: translateX(-50%);
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
    }

    .pyramid__participant-email {
      word-break: break-all;
      padding: 0 2px;

      a {
        color: $wc;
        font-size: 9px;
        text-transform: uppercase;
        @media (max-width: 1279.98px) {
          font-size: 8px;
        }


      }

    }

    .pyramid__participant-item {
      //padding: 0 10px;
      &:hover {
        transform: scale(1.2);
        position: absolute;
      }
    }

    .pyramid__participant {
      width: 70px;
      height: 70px;
      @media (max-width: 1629.98px) {
        width: 50px;
        height: 50px;
      }
      @media (max-width: 1279.98px) {
        width: 40px;
        height: 40px;
      }

      i {
        font-size: 30px;
        @media (max-width: 1629.98px) {
          font-size: 25px;
        }
        @media (max-width: 1279.98px) {
          font-size: 16px;
        }
      }
    }
  }

}


