.pyramid {
  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__user {
    text-align: center;
  }

  &__first-level {
    display: flex;
    flex-direction: column;
    max-width: 730px;
    width: 100%;
    justify-content: space-between;
    @include sm {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .pyramid__user {
      position: relative;
      margin-bottom: 26px;
      @include sm {
        margin: 0;
        height: calc(100% - 50px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      i {
        background-color: $wc;
        @include sm {
          background-color: transparent;
        }
      }

      &:before, &:after {
        position: absolute;
        content: '';
        width: calc(100% - 64px);
        height: 1px;
        background-color: #555;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        @include sm {
          height: 100%;
          width: 1px;
          right: 0;
          left: auto;
          transform: translate(-50%, -50%);
        }
      }

    }

    i {
      font-size: 40px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @include sm {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
      }
    }
  }

  &__second-level {
    @include sm {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      margin: 30px 0;
    }
    @include xs {
      flex-direction: column;
    }

    .pyramid__user {
      max-width: 50px;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 15px;
      color: #333333;
      @include sm {
        max-width: 100%;
        flex-basis: 70%;
      }

      &:before {
        width: 1px;
        height: 45px;
        left: 50%;
        top: -100%;
        margin-bottom: 5px;
        transform: translateX(-50%);
        @include sm {
          top: 50%;
          height: 1px;
          width: 100%;
        }
        @include xs {
          width: 50%;
          left: 0;
          transform: translateX(0);
        }
      }

      &:after {
        width: 1px;
        height: 15px;
        transform: translateY(0);
        right: auto;
        left: 50%;
        top: 100%;
        @include sm {
          top: 50%;
          height: 1px;
          width: 20px;
          right: -20px;
          left: auto;
        }
        @include xs {
          width: 1px;
          height: 20px;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
          top: 100%;
        }
      }
      i{
        @include xs {
          background-color: $wc;
        }
      }
    }

    ul {
      position: relative;

      @include sm {
        flex-direction: row;
        flex-basis: 30%;
      }

      @include xs {
        justify-content: center;
      }

      li {

        i {
          font-size: 25px;
          color: #7f7f7f;
        }
      }
    }
  }

  &__third-level {
    display: flex;
    align-items: flex-end;

    .pyramid__user {
      max-width: 40px;
      width: 100%;
      min-height: 40px;
      margin: 0;
      padding-top: 15px;
      @include sm {
        margin: 0;
      }

      &:before {
        width: 100%;
        height: 1px;
        top: 0;
        @include sm {
          width: 100%;
          height: 1px;
          top: 0;
        }
      }

      &:after {
        width: 1px;
        height: 15px;
        transform: translateY(0);
        right: auto;
        left: 50%;
        top: 0;
        @include sm {
          width: 1px;
          height: 15px;
          transform: translateY(0);
          right: auto;
          left: 50%;
          top: 0;
        }
      }

    }

    &:first-child {
      .pyramid__user {
        &:before {
          width: 50%;
          right: 0;
          left: auto;
          transform: translateX(0);
          @include sm {
            width: 100%;
            left: 50%;
          }
        }
      }
    }

    &:last-child {
      .pyramid__user {
        &:before {
          width: 50%;
          left: 0;
          transform: translateX(0);
        }
      }
    }
  }


}