.modal-wrap {
  background-color: transparent;
  display: none;
  width: 100%;
  max-width: 100%;
  padding: 0;

  .container {
    @include xs {
      padding: 0 5px;
    }
  }

  .popup-window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: $wc;
    margin: auto;
    transition: $transition;
    @include sm {
      flex-direction: column;
      justify-content: flex-start;
    }


    &__aside {
      flex-basis: 40%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
    }

    &__fill-form {
      flex-basis: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
      background: none !important;
      position: relative;
      @include sm {
        flex-direction: column;
        background: inherit !important;
      }

      form {
        max-width: 290px;
        width: 100%;

        h2 {
          text-transform: uppercase;
          color: $maincolor;
          text-align: center;
          margin-bottom: 15px !important;
          font-weight: 500;
        }
      }
    }

    &__sponsor-wrap {
      margin-bottom: 10px;

      .sponsor {
        text-align: right;
        color: $auxiliary;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.8;
      }
    }

    &__logo {
      max-width: 200px;
      @include md {
        max-width: 150px;
      }
      @include sm {
        max-width: 100px;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .recovery {
    margin-top: 10px;
    color: $secondarycolor;
    transition: $transition;

    &:hover {
      color: $maincolor;
    }
  }

  &-news {

    .popup-window {
      flex-direction: column;
      justify-content: center;
    }

    .popup-window__aside {
      min-height: 140px;
    }

    .popup-window__logo {
      max-width: 100px;
    }

    .new-window__desc {
      text-align: center;
      padding: 30px 80px;
      position: relative;
      @include lg {
        padding: 30px 50px;
      }
      @include md {
        padding: 30px;
      }
      @include sm {
        padding: 30px 15px;
      }
      @include sm {
        padding: 20px 10px;
      }


      h1 {
        font-size: 60px;
        color: $maincolor;
        line-height: normal;
        margin-top: 0;
        @include lg {
          font-size: 50px;
        }
        @include md {
          font-size: 40px;
        }
        @include sm {
          font-size: 30px;
        }
        @include xs {
          font-size: 25px;
        }
      }

      p {
        margin-bottom: 30px;
        @include md {
          font-size: 17px;
        }
        @include sm {
          font-size: 16px;
          line-height: normal;
        }
        @include xs {
          font-size: 15px;
        }
      }
    }
  }

  &-login {
    .popup-window {
      max-width: 500px;
      @include xs {
        max-width: 100%;
      }
    }

    .popup-window__fill-form {
      padding: 30px 30px;
    }

    .popup-window__logo {
      max-width: 150px;
      @include lg {
        max-width: 120px;
      }
      @include sm {
        max-width: 100px;
      }
    }
  }
}


.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    i {
      color: $secondarycolor;
      transform: rotate(90deg);
    }
  }

  i {
    font-size: 30px;
    color: $maincolor;
    transition: $transition;
  }
}

.fancybox-close-small {
  display: none;
}