.modal-wrap {
  background-color: transparent;
  display: none;
  width: 100%;
  max-width: 100%;
  padding: 0;
  .popup-window {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 570px;
    width: 100%;
    background-color: $wc;
    margin: auto;
    transition: $transition;
    @include sm {
      flex-direction: column;
    }

    &__aside {
      flex-basis: 40%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__fill-form {
      flex-basis: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
      background: none !important;
      position: relative;
      @include sm {
        flex-direction: column;
        background: inherit !important;
      }

      form {
        max-width: 290px;
        width: 100%;

        h2 {
          text-transform: uppercase;
          color: $maincolor;
          text-align: center;
          margin-bottom: 15px !important;
          font-weight: 500;
        }
      }
    }

    &__sponsor-wrap {
      margin-bottom: 10px;

      .sponsor {
        text-align: right;
        color: $auxiliary;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.8;
      }
    }

    &__logo {
      max-width: 200px;

      img {
        max-width: 100%;
      }
    }
  }
}



.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    i {
      color: $secondarycolor;
      transform: rotate(90deg);
    }
  }

  i {
    font-size: 30px;
    color: $maincolor;
    transition: $transition;
  }
}

.fancybox-close-small {
  display: none;
}