.slider-wrap {
  position: relative;
  margin-top: -100px;
  margin-bottom: 37px;
  @include lg {
    margin-top: -70px;
  }
  @include md {
    margin-top: 0;
  }
  @include sm {
    padding-bottom: 45px;
    margin-bottom: 25px;
  }

  .right {
    right: 0;
    @include lg {
      right: 50px;
    }
    @include sm {
      right: 20px;
    }
  }

  .left {
    left: 0;
    @include lg {
      left: 50px;
    }
    @include sm {
      left: 20px;
    }
  }

  .slide-btn {
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: #999999;
    transition: $transition;
    @include sm {
      top: auto;
      bottom: 0;
      transform: translateY(0);
      font-size: 30px;
    }
    &:hover {
      color: $auxiliary;
    }
  }

  .swiper-pagination {
    display: none;
    bottom: 0;
    transform: translateY(-50%);
    z-index: 1;
    @include sm {
      display: block;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
    }

    .swiper-pagination-bullet {
      width: 9px;
      height: 9px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
        //display: inline-block;
      }
    }
  }

  &--modified-slider {
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
  }
}


.slider {
  &__item {
    width: 0;
    padding-left: 90%;
    margin: auto;
    padding-bottom: 41%;
    height: 0;
    position: relative;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    z-index: 1;
    @include lg {
      padding-left: 70%;
      padding-bottom: 35%;
    }
    @include sm {
      padding-left: 100%;
      padding-bottom: 60%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}