.pr {
  &-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
    @include sm {
      flex-direction: column;
    }

    &:before {
      position: absolute;
      content: '';
      height: 13px;
      width: 100%;
      background-color: $maincolor;
      @include sm {
        display: none;
      }
    }

    &-item {
      background-color: $maincolor;
      position: relative;
      box-shadow: 0 0 30px 10px rgba($bc, .3);
      max-width: 24.2%;
      width: 100%;
      min-height: 170px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 20px;
      @media (max-width: 1599.98px) {
        max-width: 30%;
        min-height: 130px;
        padding-left: 20px;
      }
      @include lg {
        min-height: 100px;
        padding-left: 15px;
      }
      @include md {
        padding: 10px;
      }
      @include sm {
        max-width: 90%;
        margin-bottom: 15px;
        box-shadow: 0 0 10px 5px rgba($bc, .3);
      }
      @include xs {
        max-width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:before, &:after {
        position: absolute;
        content: '';
        border-radius: 100%;
      }

      &:before {
        width: 100px;
        height: 100px;
        left: -50px;
        bottom: 0;
      }

      &:after {
        width: 70px;
        height: 70px;
        bottom: 7px;
        left: 20px;
      }

      &--balance {
        &:before {
          background-color: rgba(#5b3986, .7);
        }

        &:after {
          background-color: rgba(#5b3986, .7);
        }
      }

      &--wallet {
        &:before {
          background-color: rgba(#69385f, .7);
        }

        &:after {
          background-color: rgba(#69385f, .7);
        }
      }

      &--wallet {
        &:before {
          background-color: rgba(#69385f, .7);
        }

        &:after {
          background-color: rgba(#69385f, .7);
        }
      }

      &--referral-link {
        &:before {
          background-color: rgba(#1f5c70, .7);
        }

        &:after {
          background-color: rgba(#1f5c70, .7);
        }
      }
    }

    &-amount {
      z-index: 2;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-right: 15px;
      @media (max-width: 1599.98px) {
        margin-right: 0;
      }

      p, span {
        color: $wc;
        text-transform: uppercase;
        font-family: 'Favorit';
      }

      a {
        font-family: 'Favorit';
        color: $wc;
        margin-bottom: 15px;
        transition: $transition;

        &:hover {
          color: $secondarycolor;
        }
      }

      p {
        font-size: 25px;
        margin-bottom: 15px;
        @media (max-width: 1599.98px) {
          font-size: 22px;
          margin-bottom: 10px;
        }
        @include lg {
          font-size: 20px;
          margin-bottom: 7px;
        }
        @include md {
          font-size: 18px;
          margin-bottom: 5px;
        }
        @include sm {
          font-size: 22px;
          margin-bottom: 10px;
        }
      }

      span {
        font-size: 15px;
        @media (max-width: 1599.98px) {
          font-size: 14px;
        }
        @include lg {
          font-size: 13px;
        }
        @include md {
          font-size: 11px;
        }
        @include sm {
          font-size: 14px;
        }
      }
    }

    &-img {
      max-width: 40.5%;
      width: 100%;
      @media (max-width: 1599.98px) {
        position: absolute;
        right: 20px;
      }
      @include lg {
        bottom: 20px;
        opacity: .3;
      }
      @include sm {
        max-width: 130px;
      }

      img {
        width: 100%;
      }
    }
  }
}