// Сторонние библиотеки
// @import "../js/libs/--/--/";
//---------------------------------------------
// css файлы библиотек/плагинов
// @import "../../node_modules/--/--/";
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/swiper/css/swiper.min.css";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";


//---------------------------------------------
// подключение сгенерированных иконок(fontello),
// FontAwesome
@import "../assets/icons/fontawesome5/web-fonts-with-css/css/fontawesome.min.css";
 @import "../assets/icons/fontello/css/icon.css";
//---------------------------------------------
// подключение css файлов
@import "fonts";
@import "variables";
//---------------------------------------------
//миксины
@import "mixins/media";
//---------------------------------------------
// Компоненты
@import "components/base";
@import "components/header";
@import "components/hamburger";
@import "components/hero";
@import "components/programm";
@import "components/detailed";
@import "components/caption";
@import "components/counter";
@import "components/advantages";
@import "components/additional-info";
@import "components/news";
@import "components/marketing";
@import "components/profile";
@import "components/footer";
@import "components/registartion";
@import "components/form-group";
@import "components/slider";
@import "components/pyramid";
@import "components/marketing-table";
@import "components/package-services";
@import "components/gallery";
@import "components/aside";
@import "components/main";
